<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../public/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/exercicio4.css" />
    <title>Quebra-Cabeça Gigante</title>
</head>

<body>
    <div class="container">
        <h1>Monte o Quebra-Cabeça</h1>
        <div class="puzzle-wrapper">
            <div class="cells"></div>
            <div class="puzzle"></div>
            <div class="final-img"></div>
            <div id="personagem" class="personagem" onclick="toggleVisablity('personagem')" style="visibility: visible;">
                <img src="../public/img/soso.png" alt="Soso">
                <div class="text-content">
                    <p id="instructions">Ajude-me a montar o quebra-cabeça com a foto da nossa turma toda!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal-content">
            <h2 class="modal-heading">Parabéns!</h2>
            <h3 class="modal-text">Você finalizou a tarefa.</h3>
            <a href="home.ejs">
                <button class="modal-btn btn">Finalizar</button>
            </a>
        </div>
    </div>
    
    <div class="background">
        <div class="circle">
            <div class="inner_circle"></div>
        </div>
        <div class="circle second">
            <div class="inner_circle second_inner"></div>
        </div>
        <div class="circle third">
            <div class="inner_circle third_inner"></div>
        </div>
        <div class="circle forth">
            <div class="inner_circle"></div>
        </div>
    </div>

    <script src="../public/assets/js/exercicio4.js" type="text/javascript"></script>
</body>

</html>