<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>TimeForCode</title>

    <!-- Bootstrap CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="assets/css/animated.css">
    <link rel="stylesheet" href="assets/css/owl.css">

  </head>

<body>

  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>



 
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
 
            <a href="teste.html" class="logo">
    
            </a>

            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Sobre</a></li>
              <li class="scroll-to-section"><a href="#services">Conteúdos</a></li>
              <li class="scroll-to-section">
                <div class="login-button"><a href="/login">Login</a></div>
              </li>
              <li class="scroll-to-section">
                <div class="border-first-button"><a href="/cadastro">Criar conta</a></div>
              </li>
              
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h6>Bem vindo(a)</h6>
                    <h2>Quem somos nós?</h2>
                    <p>Aqui acreditamos que aprender a programar pode ser uma jornada divertida e cheia de descobertas! Nossa missão é tornar a programação acessível e envolvente para crianças, ajudando-as a desenvolver habilidades importantes enquanto se divertem. </p>
                  </div>
                  <div class="col-lg-12">
                    <div class="border-first-button scroll-to-section">
                      <a href="#services">Conheça quem vai te guiar nessa jornada</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="img/Ativo10.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
               
  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h6>Veja oque você vai aprender aqui</h6>
            <h4>Conheça nossos <em>amiguinhos</em></h4>
            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="menu">
                    <div class="first-thumb active">
                      <div class="thumb1">
                        Lilu
                      </div>
                    </div>
                    <div>
                      <div class="thumb2">                 
                        <span class="icon"></span>
                       Cadu
                      </div>
                    </div>
                    <div>
                      <div class="thumb3">                 
                        <span class="icon"></span>
                       Ana
                      </div>
                    </div>
                    <div>
                      <div class="thumb4">                 
                        <span class="icon"></span>
                      Soso
                      </div>
                    </div>
                   
                  </div>
                </div> 
                <div class="col-lg-12">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4 class="lilu">Lilu, a Mestre dos Algoritmos e Lógica</h4>
                                <p>Lilu é super inteligente e adora resolver problemas! Ela ensina como criar passos simples para fazer o computador funcionar direitinho. Com Lilu, você vai aprender a pensar como um programador e criar jogos e desafios legais.</p>
                                <div class="ticks-list">
                                </div>
                                <p><b>Com Lilu, programar se torna uma aventura divertida e cheia de desafios!</p></b>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="img/lilu.png" alt="lilu">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4 class="cadu">Cadu, o Artista do Código e Design</h4>
                                <p>Cadu adora desenhar e colorir! Ele vai te mostrar como criar sites bonitos e cheios de vida usando códigos. Com Cadu, você vai aprender a fazer páginas da web com cores, formas e até animações que se mexem!</p>
                                <div class="ticks-list">
                                </div>
                                <p><b>Com Cadu, a programação ganha cores e vida em cada linha de código!</p></b>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="img/cadu.png" alt="cadu">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4 class="ana">Ana, a Guardiã dos Dados e Informação</h4>
                                <p>Ana é a melhor em organizar tudo! Ela ensina como guardar e arrumar informações importantes. Com Ana, você vai aprender a usar bancos de dados, que são como grandes cadernos onde a gente guarda tudo o que precisa.</p>
                                <div class="ticks-list">
                                </div>
                                <p><b>Com Ana, aprender sobre dados é uma jornada simples e cheia de descobertas!</p></b>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="img/ana.png" alt="ana">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4 class="soso">Soso</h4>
                                <p>Soso é o defensor da internet! Ele vai te ensinar como manter suas coisas seguras na web. Com Soso, você vai aprender a criar senhas fortes e a proteger seus segredos online.</p>
                                <div class="ticks-list">
                                </div>
                                <p><b>Com Soso, as crianças descobrem como navegar na internet com confiança e segurança!</p></b>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="img/soso.png" alt="soso">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  



  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/animation.js"></script>
  <script src="assets/js/imagesloaded.js"></script>
  <script src="assets/js/custom.js"></script>

</body>
</html>