<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="assets/css/login.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="img/wave.png">
	<div class="container">
		<div class="img">
			<img src="img/Ativo 10.png">
		</div>
		<div class="login-content">
			<form action="index.html">
				<h2 class="title">Login</h2>
				<div class="input-div one">
				   <div class="i">
						<i class="fas fa-user"></i>
				   </div>
				   <div class="div">
						<h5>E-mail</h5>
						<input type="text" class="input">
				   </div>
				</div>
				<div class="input-div pass">
				   <div class="i"> 
						<i class="fas fa-lock"></i>
				   </div>
				   <div class="div">
						<h5>Senha</h5>
						<input type="password" class="input">
				   </div>
				</div>
				<a href="#">Esqueceu a sua senha?</a>
				<div class="border-first-button">
					<input type="submit" class="btn" value="Fazer Login">
				</div>
				<!-- Adicionando o link de cadastro aqui -->
				<p class="signup-message">Não tem uma conta? <a href="/cadastro">Crie uma!</a></p>
			</form>
		</div>
		
    <script type="module" src="assets/js/script.js"></script>
</body>
</html>