@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #FDF3D6;
    font-family: 'Poppins', sans-serif;
}

h1,
h2 {
    position: relative;
    font-weight: 700;
    font-size: 35px;
    color: #4c4c4c;
    bottom: 35px;
}

h1 {
    color: #C197F5;
}

/* #DBC4F8; */

#mazeContainer {
    top: 15px;
    opacity: 0;
    display: inline-block;
    margin: auto;
    left: auto;
    right: auto;
    z-index: 0;
}

#mazeContainer #mazeCanvas {
    margin: 0;
    display: block;
    border: solid 15px #423453;
    height: 450px;
    background-color: #D6F6DE;
}

button {
    cursor: pointer;
    background-color: #DBC4F8;
    height: 45px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    appearance: none;
}

button:hover {
    background-color: #C197F5;
}

button:active {
    background-color: black;
}

button:focus {
    outline: none;
}

#Message-Container {
    visibility: hidden;
    color: white;
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000e3;
    z-index: 1;
}

#Message-Container #message {
    width: 300px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    /* background-color: #ede6ace7; */
    border-radius: 1rem;
}

#message h1 {
    padding-bottom: 10px;
}

#page {
    text-align: center;
    height: auto;
    width: auto;
    margin: auto;
    padding-top: 35px;
}

#page .background {
    position: absolute;
    width: auto;
    height: auto;
    margin: auto;
    color: #000;
}

.wave {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

#page {
    margin: auto;
    padding: 10px;
    padding-top: 100px;
    height: 65px;
    box-sizing: border-box;
}

#page h1 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 3.2rem;
}

#page #view {
    position: absolute;
    top: 20%;
    width: 100%;
    height: auto;
}

.personagem {
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    padding-top: 450px;
    padding-right: 30%;
    z-index: 2;
}

.text-content {
    display: flex;
    align-items: center;
    background-color: white;
    z-index: inherit;
    border-radius: 1rem;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
}