.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 32px;
    background-color: #000000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
}

.header-nav {
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.flex-container {
    display: flex;
    gap: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.scroll-to-section {
    display: flex;
    align-items: center;
}

.scroll-to-section a:hover {
    color: #c197f5;
    /* Laranja Claro */
}

.border-first-button a {
    display: inline-block !important;
    padding: 10px 20px !important;
    background-color: #dbc4f8;
    /* Rosa Claro */
    color: #fff;
    /* Branco */
    border: 1px solid #dbc4f8;
    /* Rosa Claro */
    border-radius: 23px;
    font-weight: 500 !important;
    letter-spacing: 0.3px !important;
    transition: all 0.5s;
}

.border-first-button a:hover {
    background-color: #c197f5; /* Laranja Claro */
    color: #fff !important;
    border: 1px solid #c197f5; /* Rosa Claro */
}

.login-button {
    color: #fff;
    border-radius: 6px;
    padding: 6px 18px;
    transition: background 0.2s;
}

.login-button a:hover {
    color: #c197f5 !important;
}