body {
  font-family: 'Poppins', sans-serif;
  background-color: #FDF8F4;
  color: #4c4c4c;
  line-height: 1.6;
}

a {
  margin-left: 20px;
  text-decoration: none;
  color: #DBC4F8;
}

a:hover {
  color: #c197f5;
}

header {
  background-color: #D6F6DE; /* Fundo Verde Claro */
  padding: 20px 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo a {
  font-size: 24px;
  font-weight: bold;
  color: #DBC4F8;
}

.navbar .nav {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar .nav li {
  padding: 0 15px;
}

.navbar .nav li a {
  font-size: 16px;
  color: #4c4c4c;
}

.main-banner {
  background-color: #FDF3D6;
  padding: 60px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh; /* Ajusta a altura mínima da seção */
  text-align: center; /* Centraliza o conteúdo em telas pequenas */
}

.main-banner .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap; /* Para ajustar o layout em telas menores */
  padding-bottom: 40px;
}

.main-banner h2 {
  z-index: 2;
  position: relative;
  font-weight: 700;
  font-size: 50px;
  color: #DBC4F8;
  margin-bottom: 20px;
}

.main-banner p {
  margin-top: 15px;
  font-size: 1.2rem;
  color: #F6E29D;
}

.main-banner .btn {
  margin-top: 40px !important; /* Aumentando o espaçamento entre o texto e o botão */
  padding: 10px 30px;
  background-color: #DBC4F8;
  color: white;
  border-radius: 25px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.main-banner .btn:hover {
  background-color: #c197f5;
}

.banner-img {
  width: 100%;
  max-width: 700px;
  height: auto;
  display: block;
  margin: 20px auto; /* Centraliza a imagem em telas pequenas */
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .main-banner {
      flex-direction: column;
      text-align: center;
  }

  .main-banner .container {
      flex-direction: column;
  }

  .banner-img {
      margin: 20px 0;
      max-width: 300px;
  }

  .main-banner h2 {
      font-size: 2rem;
  }

  .main-banner p {
      font-size: 1rem;
  }

  .main-banner .btn {
      font-size: 0.9rem;
  }
}

.about-section {
  background-color: #D3EDC5;
  padding: 40px 20px;
  text-align: center;
  
}

.about-section h2 {
  font-size: 2.2rem;
  color: #4c4c4c;
}

.about-section p {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #666;
}

.content-section {
  background-color: #FDF3D6;
  padding: 60px 20px;
  text-align: center;
}

.content-section h2 {
  font-size: 2.5rem;
  color: #B0D9DD;
  margin-bottom: 40px;
}

.content-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.content-box h3 {
  font-size: 1.5rem;
  color: #4c4c4c;
}

.content-box p {
  margin: 15px 0;
  font-size: 1rem;
  color: #999;
}

.content-box .btn {
  padding: 10px 20px;
  background-color: #DBC4F8;
  color: white;
  border-radius: 15px;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin-left: 0;
}

.content-box .btn:hover {
  background-color: #c197f5;
}

footer {
  background-color: #9CCFCE;
  padding: 20px 0;
  text-align: center;
}

footer p {
  color: #fff;
}
.content-section {
  background-color: #FDF3D6;
  padding: 60px 20px;
  text-align: center;
}

.content-section h2 {
  font-size: 2.5rem;
  color: #DBC4F8;
  margin-bottom: 40px;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.content-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.content-box h3 {
  font-size: 1.5rem;
  color: #B0D9DD;
  margin-bottom: 15px;
}

.content-box p {
  margin: 15px 0;
  font-size: 1rem;
  color: #999;
}

.content-box .btn {
  padding: 10px 20px;
  background-color: #DBC4F8;
  color: white;
  border-radius: 15px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.content-box .btn:hover {
  background-color: #c197f5;
}
