.statistics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
}

.statistics-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 25px 32px 25px;
}

.points-container {
  position: absolute;
  top: 20px;
  right: -25px;
}

.points {
  display: flex;
  gap: 8px;
  background-color: white;
  padding: 6px 12px;
  border-radius: 1rem;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statistics-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.exercise-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: white;
  padding: 40px;
  border-radius: 1rem;
  position: relative;
}

.exercise-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
}

.data li {
  font-size: 1.5rem;
}

progress{
  height: 10px;
  appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #f0f0f0;
  border-radius: 1rem;
}

progress[value]::-webkit-progress-value {
  background-color: #dbc4f8;
  border-radius: 1rem;
}

.finish-btn{
  background-color: #dbc4f8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
